In [1]:
import pandas as pd  # provides interface for interacting with tabular data
import geopandas as gpd  # combines the capabilities of pandas and shapely for geospatial operations
from shapely.geometry import Point, Polygon, MultiPolygon  # for manipulating text data into geospatial shapes
from shapely import wkt  # stands for "well known text," allows for interchange across GIS programs
import rtree  # supports geospatial join

In [2]:
main = pd.read_csv(
    'nga_householdgeovars_y4.csv'
)

##reading in the nga geovars csv##

In [3]:
main

,hhid,dist_road2,dist_popcenter2,dist_market,dist_border2,dist_admctr,af_bio_1,af_bio_8,af_bio_12,af_bio_13,...,h2018_tot,h2018_wetQ,h2018_wetQstart,qstartavg,ndvi_avg,ndvi_max,h2018_ndvi_avg,h2018_ndvi_max,lat_dd_mod,lon_dd_mod
0,10001,1.1,4.2,50.1,533.2,4.2,262,249,2147,320,...,2279,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536
1,10002,1.1,4.2,50.1,533.2,4.2,262,249,2147,320,...,2279,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536
2,10003,1.1,4.2,50.1,533.2,4.2,262,249,2147,320,...,2279,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536
3,10004,1.1,4.2,50.1,533.2,4.2,262,249,2147,320,...,2279,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536
4,10005,1.1,4.2,50.1,533.2,4.2,262,249,2147,320,...,2279,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5111,379148,27.4,23.3,66.7,144.8,23.3,262,246,1349,277,...,1191,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500
5112,379151,27.4,23.3,66.7,144.8,23.3,262,246,1349,277,...,1191,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500
5113,379152,27.4,23.3,66.7,144.8,23.3,262,246,1349,277,...,1191,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500
5114,379154,27.4,23.3,66.7,144.8,23.3,262,246,1349,277,...,1191,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500
5115,379155,27.4,23.3,66.7,144.8,23.3,262,246,1349,277,...,1191,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500

In [4]:
main['geometry'] = main.apply(lambda row: Point(row.lon_dd_mod, row.lat_dd_mod), axis=1)

##applying point geometry row using a lambda function on the longitude and latitude columns at each row##

/Users/jackdoyle/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pandas/core/dtypes/cast.py:118: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [5]:
main_geo = gpd.GeoDataFrame(main)

In [6]:
main_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5116 entries, 0 to 5115
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   hhid             5116 non-null   int64
 1   dist_road2       5116 non-null   float64
 2   dist_popcenter2  5116 non-null   float64
 3   dist_market      5116 non-null   float64
 4   dist_border2     5116 non-null   float64
 5   dist_admctr      5116 non-null   float64
 6   af_bio_1         5116 non-null   int64
 7   af_bio_8         5116 non-null   int64
 8   af_bio_12        5116 non-null   int64
 9   af_bio_13        5116 non-null   int64
 10  af_bio_16        5116 non-null   int64
 11  popdensity       5106 non-null   float64
 12  hybrid_V8        5116 non-null   int64
 13  ssa_aez09        5116 non-null   int64
 14  afmnslp_pct      5116 non-null   int64
 15  srtm_1k          5106 non-null   float64
 16  twi              5116 non-null   int64
 17  sq1              5116 non-null   int64
 18  sq2              5116 non-null   int64
 19  sq3              5116 non-null   int64
 20  sq4              5116 non-null   int64
 21  sq5              5116 non-null   int64
 22  sq6              5116 non-null   int64
 23  sq7              5116 non-null   int64
 24  anntot_avg       5116 non-null   int64
 25  wetQ_avg         5116 non-null   int64
 26  wetQ_avgstart    5116 non-null   int64
 27  h2018_tot        5116 non-null   int64
 28  h2018_wetQ       5116 non-null   int64
 29  h2018_wetQstart  5116 non-null   int64
 30  qstartavg        5116 non-null   int64
 31  ndvi_avg         5116 non-null   float64
 32  ndvi_max         5116 non-null   float64
 33  h2018_ndvi_avg   5116 non-null   float64
 34  h2018_ndvi_max   5116 non-null   float64
 35  lat_dd_mod       5116 non-null   float64
 36  lon_dd_mod       5116 non-null   float64
 37  geometry         5116 non-null   geometry
dtypes: float64(13), geometry(1), int64(24)
memory usage: 1.5 MB

In [7]:
fews = gpd.read_file('NG_202110/NG_202110_CS.shp')

##reading in the food security data##

In [8]:
join = gpd.sjoin(fews, main_geo, op='intersects', how='right')

## spatial joining fews with the nga_geovars dataset ... joining on the right ##

/Users/jackdoyle/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84" ...
Right CRS: None

  """Entry point for launching an IPython kernel.

In [9]:
join

,index_left,cov_start,cov_end,report_mon,country,fnid,unit_name,ADMIN0,ADMIN1,ADMIN2,...,h2018_wetQ,h2018_wetQstart,qstartavg,ndvi_avg,ndvi_max,h2018_ndvi_avg,h2018_ndvi_max,lat_dd_mod,lon_dd_mod,geometry
0,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536,POINT (7.53154 5.53546)
1,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536,POINT (7.53154 5.53546)
2,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536,POINT (7.53154 5.53546)
3,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536,POINT (7.53154 5.53546)
4,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,1088,13,26,0.347,0.462,0.463,0.54,5.535456,7.531536,POINT (7.53154 5.53546)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5111,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500,POINT (7.31850 9.13817)
5112,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500,POINT (7.31850 9.13817)
5113,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500,POINT (7.31850 9.13817)
5114,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500,POINT (7.31850 9.13817)
5115,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,566,22,25,0.286,0.361,0.189,0.23,9.138173,7.318500,POINT (7.31850 9.13817)

In [10]:
join.columns

Index(['index_left', 'cov_start', 'cov_end', 'report_mon', 'country', 'fnid',
       'unit_name', 'ADMIN0', 'ADMIN1', 'ADMIN2', 'ADMIN3', 'LZCODE', 'LZNAME',
       'CS', 'HA0', 'fewsnet_re', 'hhid', 'dist_road2', 'dist_popcenter2',
       'dist_market', 'dist_border2', 'dist_admctr', 'af_bio_1', 'af_bio_8',
       'af_bio_12', 'af_bio_13', 'af_bio_16', 'popdensity', 'hybrid_V8',
       'ssa_aez09', 'afmnslp_pct', 'srtm_1k', 'twi', 'sq1', 'sq2', 'sq3',
       'sq4', 'sq5', 'sq6', 'sq7', 'anntot_avg', 'wetQ_avg', 'wetQ_avgstart',
       'h2018_tot', 'h2018_wetQ', 'h2018_wetQstart', 'qstartavg', 'ndvi_avg',
       'ndvi_max', 'h2018_ndvi_avg', 'h2018_ndvi_max', 'lat_dd_mod',
       'lon_dd_mod', 'geometry'],
      dtype='object')

In [11]:
join.columns

Index(['index_left', 'cov_start', 'cov_end', 'report_mon', 'country', 'fnid',
       'unit_name', 'ADMIN0', 'ADMIN1', 'ADMIN2', 'ADMIN3', 'LZCODE', 'LZNAME',
       'CS', 'HA0', 'fewsnet_re', 'hhid', 'dist_road2', 'dist_popcenter2',
       'dist_market', 'dist_border2', 'dist_admctr', 'af_bio_1', 'af_bio_8',
       'af_bio_12', 'af_bio_13', 'af_bio_16', 'popdensity', 'hybrid_V8',
       'ssa_aez09', 'afmnslp_pct', 'srtm_1k', 'twi', 'sq1', 'sq2', 'sq3',
       'sq4', 'sq5', 'sq6', 'sq7', 'anntot_avg', 'wetQ_avg', 'wetQ_avgstart',
       'h2018_tot', 'h2018_wetQ', 'h2018_wetQstart', 'qstartavg', 'ndvi_avg',
       'ndvi_max', 'h2018_ndvi_avg', 'h2018_ndvi_max', 'lat_dd_mod',
       'lon_dd_mod', 'geometry'],
      dtype='object')

In [12]:
join = join.rename(columns = {'CS':'Current_food_security'})

## renaming food_security column ##

In [13]:
food_spending_df = pd.read_csv(
    'sect10b_harvestw4.csv'
)

## reading in food spending csv ##

/Users/jackdoyle/opt/anaconda3/envs/dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (13,22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
food_spending_df.head()

,zone,state,lga,sector,ea,hhid,item_cd,item_cd_alt,item_os,item_os_cd,...,s10bq5a,s10bq6a,s10bq7a,s10bq8,s10bq9a,s10bq9b,s10bq9b_os,s10bq9c,s10bq9_cvn,s10bq10
0,4,1,115,1,670,10001,10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,1,115,1,670,10001,11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10001,13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,115,1,670,10001,14,14.0,NaN,NaN,...,12.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,115,1,670,10001,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
food_spending_df.columns

Index(['zone', 'state', 'lga', 'sector', 'ea', 'hhid', 'item_cd',
       'item_cd_alt', 'item_os', 'item_os_cd', 's10bq1', 's10bq2a', 's10bq2b',
       's10bq2b_os', 's10bq2c', 's10bq2_cvn', 's10bq5a', 's10bq6a', 's10bq7a',
       's10bq8', 's10bq9a', 's10bq9b', 's10bq9b_os', 's10bq9c', 's10bq9_cvn',
       's10bq10'],
      dtype='object')

In [16]:
food_spending_df

,zone,state,lga,sector,ea,hhid,item_cd,item_cd_alt,item_os,item_os_cd,...,s10bq5a,s10bq6a,s10bq7a,s10bq8,s10bq9a,s10bq9b,s10bq9b_os,s10bq9c,s10bq9_cvn,s10bq10
0,4,1,115,1,670,10001,10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,1,115,1,670,10001,11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10001,13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,115,1,670,10001,14,14.0,NaN,NaN,...,12.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,115,1,670,10001,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547355,1,37,3702,1,1102,379155,161,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547356,1,37,3702,1,1102,379155,162,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547357,1,37,3702,1,1102,379155,163,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547358,1,37,3702,1,1102,379155,164,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547359,1,37,3702,1,1102,379155,601,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
food_spending_df.s10bq2_cvn

0           NaN
1           NaN
2           NaN
3         0.225
4           NaN
          ...
547355      NaN
547356      NaN
547357      NaN
547358      NaN
547359      NaN
Name: s10bq2_cvn, Length: 547360, dtype: float64

In [18]:
food_spending_df['monthly_food_spending'] = food_spending_df.s10bq9a + food_spending_df.s10bq9b + food_spending_df.s10bq9c + food_spending_df.s10bq9c * food_spending_df.s10bq9_cvn

## food_spending calculation based on the variable descriptions in the household survery ##

In [19]:
food_spending_df.monthly_food_spending

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
547355   NaN
547356   NaN
547357   NaN
547358   NaN
547359   NaN
Name: monthly_food_spending, Length: 547360, dtype: float64

In [20]:
join = join.merge(food_spending_df, 'left', on='hhid')

## merging the food_spending with our master dataset so far... the variables in join will be cleaned up shortly ##

In [21]:
join

,index_left,cov_start,cov_end,report_mon,country,fnid,unit_name,ADMIN0,ADMIN1,ADMIN2,...,s10bq6a,s10bq7a,s10bq8,s10bq9a,s10bq9b,s10bq9b_os,s10bq9c,s10bq9_cvn,s10bq10,monthly_food_spending
0,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,270.0,10-2021,10-2021,10-2021,NG,NG2021C3010033,"South-east cassava, cereals, and oil palm with...",Nigeria,Abia,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547495,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547496,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547497,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547498,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547499,60.0,10-2021,10-2021,10-2021,NG,NG2021C3150020,"Central yams and maize belt, with cassava, ric...",Nigeria,Federal Capital Territory,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
join.isnull().sum()

index_left                  990
cov_start                   990
cov_end                     990
report_mon                  990
country                     990
                          ...
s10bq9b_os               547411
s10bq9c                  497808
s10bq9_cvn               481000
s10bq10                  480768
monthly_food_spending    497970
Length: 80, dtype: int64

In [23]:
demographics_df = pd.read_csv(
    'sect1_harvestw4.csv'
)

##reading in demographics ##

In [24]:
demographics_2_df = pd.read_csv(
    'sect2_harvestw4.csv'
)
##reading in demographics ##

/Users/jackdoyle/opt/anaconda3/envs/dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
demographics_df

,zone,state,lga,sector,ea,hhid,indiv,s1q4a,s1q2,s1q3,...,s1q27_os,s1q28,s1q28_os,s1q29,s1q30,s1q31d,s1q31,s1q31b,s1q32,s1q33
0,4,1,115,1,670,10001,1,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,1,115,1,670,10001,2,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10001,3,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,115,1,670,10001,4,1.0,2.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,115,1,670,10001,6,2.0,NaN,NaN,...,NaN,4.0,NaN,1.0,1.0,1.0,1.0,110.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30332,1,37,3702,1,1102,379154,2,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30333,1,37,3702,1,1102,379155,1,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30334,1,37,3702,1,1102,379155,2,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30335,1,37,3702,1,1102,379155,3,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30336,1,37,3702,1,1102,379155,4,1.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
demographics_df = demographics_df.merge(demographics_2_df, 'left', on='hhid')

##merging the two together ##

In [27]:
demographics_df

,zone_x,state_x,lga_x,sector_x,ea_x,hhid,indiv_x,s1q4a,s1q2,s1q3,...,s2aq23bo,s2aq23bp,s2aq23bq,s2aq23br,s2aq23bs,s2aq24,s2aq25,s2aq26,s2aq26b,s2aq27
0,4,1,115,1,670,10001,1,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1,4,1,115,1,670,10001,1,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10001,1,1.0,1.0,1.0,...,22000.0,0.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN
3,4,1,115,1,670,10001,1,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,115,1,670,10001,1,1.0,1.0,1.0,...,15000.0,0.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216073,1,37,3702,1,1102,379155,3,1.0,2.0,3.0,...,1500.0,0.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN
216074,1,37,3702,1,1102,379155,4,1.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
216075,1,37,3702,1,1102,379155,4,1.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
216076,1,37,3702,1,1102,379155,4,1.0,1.0,3.0,...,7800.0,0.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN
216077,1,37,3702,1,1102,379155,4,1.0,1.0,3.0,...,1500.0,0.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN

In [28]:
main_demographics_df = demographics_df[['s1q21', 's1q22', 's1q26', 's1q27', 'hhid', 'indiv_x']]

##choosing the relevant variables to our question ##

In [29]:
main_demographics_df

        s1q21  s1q22  s1q26  s1q27    hhid  indiv_x
0         NaN    NaN    NaN    NaN   10001        1
1         NaN    NaN    NaN    NaN   10001        1
2         NaN    NaN    NaN    NaN   10001        1
3         NaN    NaN    NaN    NaN   10001        1
4         NaN    NaN    NaN    NaN   10001        1
...       ...    ...    ...    ...     ...      ...
216073    NaN    NaN    NaN    NaN  379155        3
216074    NaN    NaN    NaN    NaN  379155        4
216075    NaN    NaN    NaN    NaN  379155        4
216076    NaN    NaN    NaN    NaN  379155        4
216077    NaN    NaN    NaN    NaN  379155        4

[216078 rows x 6 columns]

In [30]:
main_demographics_df.isnull().sum()

s1q21      201122
s1q22      201122
s1q26      203871
s1q27      203871
hhid            0
indiv_x         0
dtype: int64

In [31]:
join = join.merge(main_demographics_df, 'left', on='hhid')

## merging the final demographics dataset with the join geodataframe. ##

In [32]:
df_main = join[['ADMIN1', 'geometry', 'monthly_food_spending', 'hhid', 'Current_food_security', 'lat_dd_mod', 'lon_dd_mod', 'zone', 'indiv_x', 's1q21', 's1q22', 's1q26', 's1q27']]

## choosing only relevant variables for the project ##

In [33]:
df_main

,ADMIN1,geometry,monthly_food_spending,hhid,Current_food_security,lat_dd_mod,lon_dd_mod,zone,indiv_x,s1q21,s1q22,s1q26,s1q27
0,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN
1,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN
2,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN
3,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN
4,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23766531,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,3.0,NaN,NaN,NaN,NaN
23766532,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN
23766533,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN
23766534,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN
23766535,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN

In [34]:
df_main = df_main.rename(columns= {'s1q21' : 'father_education_level', 's1q22' : 'father_occupation', 's1q26' : 'mother_education_level', 's1q27' : 'mother_occupation'})

##renaming columns to more relevant titles ##

In [35]:
population_df = pd.read_csv(
    'nga_U5_population.csv'
)

## population data under 5 ##

In [36]:
population_df = population_df.rename(columns= {'State' : 'ADMIN1'})

##naming state to admin1, so that we have something to join on

In [37]:
df_main = df_main.merge(population_df, 'left', on='ADMIN1')

##merging population data onto the master geodataframe ##

In [38]:
df_main

,ADMIN1,geometry,monthly_food_spending,hhid,Current_food_security,lat_dd_mod,lon_dd_mod,zone,indiv_x,father_education_level,father_occupation,mother_education_level,mother_occupation,Under-5 Population
0,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0
1,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0
2,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0
3,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0
4,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23766531,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,3.0,NaN,NaN,NaN,NaN,731591.0
23766532,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0
23766533,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0
23766534,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0
23766535,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0

In [39]:
agricultural_df = pd.read_csv(
    'secta1_harvestw4.csv'
)

##reading in agricultural data ##

In [40]:
agricultural_df

,zone,state,lga,sector,ea,hhid,plotid,sa1q1aa,sa1q1a,prefilled_gps_area,...,sa1q2c_6,sa1q8a,sa1q8b,sa1q8c,sa1q8c_os,sa1q9,sa1q10,sa1q10_os,sa1q10_0,sa1q11
0,4,1,115,1,670,10002,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,1,115,1,670,10003,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10004,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,115,1,670,10008,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,105,2,0,10009,1,1,1,18811.00000,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10956,1,37,3706,1,1836,379111,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10957,1,37,3706,1,1836,379112,1,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10958,1,37,3701,1,308,379121,1,1,2,NaN,...,NaN,1.0,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN
10959,1,37,3703,1,202,379127,1,1,1,6536.89990,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10960,1,37,3703,1,202,379127,2,1,1,386.89001,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
agricultural_df_2 = agricultural_df[['state', 'hhid', 'sa1q1a', 'prefilled_gps_area', 'sa1q4', 'sa1q1aa']]

##choosing relevant variables (explained in codebook) ##

In [42]:
agricultural_df_2 = agricultural_df_2.rename(columns= {'sa1q1a' : 'plot_measured_yes_or_no', 'sa1q4' : 'HH_access_to_plot', 'sa1q1aa' : 'cultivated_or_not'})

##renaming columns ##

In [43]:
df_main = df_main.merge(agricultural_df_2, 'left', on='hhid')

#merging agricultural data to the main dataset##

In [44]:
df_main

,ADMIN1,geometry,monthly_food_spending,hhid,Current_food_security,lat_dd_mod,lon_dd_mod,zone,indiv_x,father_education_level,father_occupation,mother_education_level,mother_occupation,Under-5 Population,state,plot_measured_yes_or_no,prefilled_gps_area,HH_access_to_plot,cultivated_or_not
0,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0,NaN,NaN,NaN,NaN,NaN
1,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0,NaN,NaN,NaN,NaN,NaN
2,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0,NaN,NaN,NaN,NaN,NaN
3,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0,NaN,NaN,NaN,NaN,NaN
4,Abia,POINT (7.53154 5.53546),NaN,10001,1.0,5.535456,7.531536,4.0,1.0,NaN,NaN,NaN,NaN,480072.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68447544,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,3.0,NaN,NaN,NaN,NaN,731591.0,NaN,NaN,NaN,NaN,NaN
68447545,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0,NaN,NaN,NaN,NaN,NaN
68447546,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0,NaN,NaN,NaN,NaN,NaN
68447547,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0,NaN,NaN,NaN,NaN,NaN
68447548,Federal Capital Territory,POINT (7.31850 9.13817),NaN,379155,2.0,9.138173,7.318500,1.0,4.0,NaN,NaN,NaN,NaN,731591.0,NaN,NaN,NaN,NaN,NaN

In [45]:
df_main.isnull().sum()

ADMIN1                        27060
geometry                          0
monthly_food_spending      62645761
hhid                              0
Current_food_security         27060
lat_dd_mod                        0
lon_dd_mod                        0
zone                            159
indiv_x                         136
father_education_level     62432638
father_occupation          62432638
mother_education_level     63556398
mother_occupation          63556398
Under-5 Population            27060
state                       3136237
plot_measured_yes_or_no     3136237
prefilled_gps_area         25227115
HH_access_to_plot           3136238
cultivated_or_not           3136237
dtype: int64

In [46]:
df_main.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 68447549 entries, 0 to 68447548
Data columns (total 19 columns):
 #   Column                   Dtype
---  ------                   -----
 0   ADMIN1                   object
 1   geometry                 geometry
 2   monthly_food_spending    float64
 3   hhid                     int64
 4   Current_food_security    float64
 5   lat_dd_mod               float64
 6   lon_dd_mod               float64
 7   zone                     float64
 8   indiv_x                  float64
 9   father_education_level   float64
 10  father_occupation        float64
 11  mother_education_level   float64
 12  mother_occupation        float64
 13  Under-5 Population       float64
 14  state                    float64
 15  plot_measured_yes_or_no  float64
 16  prefilled_gps_area       float64
 17  HH_access_to_plot        float64
 18  cultivated_or_not        float64
dtypes: float64(16), geometry(1), int64(1), object(1)
memory usage: 10.2+ GB